.backwall{
	background-image: url('/static/images/landscape.jpg');
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;
	/*filter: blur(1px) brightness(50%);*/
}

body {
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;
	/*filter: ;*/
}

.container-login{
	justify-content: center; 
	align-items: center; 
	display: flex;
}

.title-login{
	color: white !important; 
	text-shadow: -2px -2px 1px black !important;
}

.sidebar-test > ul > li > ul > li:focus{
	background-color: blue !important;
}

.sidebar-test > ul > li > ul > li >a{
	color: black !important;
}

.sidebar-test > ul > li > ul > li >a:hover,
.sidebar-test > ul > li > ul > li >a:focus{
	background-color: #5cb85c !important;
}

.sidebar-test > ul > li > a{
	background-color: #E8E8E8;
	color: black !important;
}

.sidebar-test > ul > li > a:hover,
.sidebar-test > ul > li > a:focus{
	background-color: #5cb85c !important;
}

.logged-name:focus,
.logged-name:hover{
	background-color: green !important;
}

.riesgodiv{
	width: 100% !important;
}

.riesgoform{
	width: 20% !important;
	float: left !important;	
}

.yearsform{
	width: 100% !important;
}

.produccionform{
	width: 30% !important;
	float: left !important;
	margin-right: 2em !important;
}

.hiddenthing{
	visibility: hidden;
	display: none;
}

.disable {
	pointer-events: none;
   	cursor: default;
}

.smallfont{
	font-size: 0.7em !important;
}
.noheight{
	min-height: initial !important;
}
