{% extends "base.html" %}

{% block header %}{{titulo}}{{block.super}}{% endblock %}

{% block wrapper %}
<form method="post" accept-charset="utf-8">
	{% csrf_token %}

<div style="" class="">
	        <div class="">
	            <div class="card">
	            	<div class = "header">
				    	<h4 class="title"> <strong>Tipo de base presupuestal </strong> </h4>
			    	</div>
					<div class="content">
						<div class="list-group">
							<table class="table table-striped">{{base_presupuestal.as_table}}</table>
						</div>
					</div>
				</div>
			</div>
	</div>

    <div style="" class="">
	        <div class="col-lg-4">
	            <div class="card">
	            	<div class = "header">
				    	<h4 class="title"> <strong>Insumos generales </strong> </h4>
			    	</div>
					<div class="content">
						<div class="list-group">
							<table class="table table-striped">{{Insumos_generalesform.as_table}}</table>
						</div>
					</div>
				</div>
			</div>
	</div>

	<div style="" class="">
	    <div>
	        <div class="col-lg-4">
	            <div class="card">
	            	<div class = "header">
				    	<h4 class="title"> <strong>Establecimiento </strong></h4>
			    	</div>
					<div class="content">
						<div class="list-group">
						<table class="table table-striped">{{establecimientoform.as_table}}</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div style="" class="">
	    <div>
	        <div class="col-lg-4">
	            <div class="card">
	            	<div class = "header">
				    	<h4 class="title"> <strong>Costes de preparación </strong> </h4>
			    	</div>
					<div class="content">
						<div class="list-group">
						<table class="table table-striped">{{preparacionform.as_table}}</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
	    <div style="clear:left;">
	        <div class="">
	            <div class="card">
	            	<div class = "header">
				    	<h4 class="title"> <strong>Datos generales </strong> </h4>
			    	</div>
					<div class="content">
						<div class="list-group">
							<table class="table table-striped">{{datos_generalesform.as_table}}</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    
    <div style="" class="">
    <h3> <strong>Costos indirectos de producción y comercialización</strong> </h3>
    <br>
    	{% for value in cipc %}
	    <div class="list-inline">
	        <div class="col-lg-4">
	            <div class="card">
				    <div class = "header">
				    	<h4 class="title"> <strong>Año {{forloop.counter}} </strong> </h4>
			    	</div>
					<div class="content">
						<div class="list-group">
							<table class="table table-striped">{{value.as_table}}</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	
	<div style="clear: left;">
		<h3> <strong>Distribución de calidad</strong></h3>
		<br>
		 <div class="list-inline">
	        <div class="col-lg-4">
	            <div class="card">
				    <div class = "header">
				    	<h4 class="title"> <strong>Primera </strong> </h4>
			    	</div>
					<div class="content">
						<div class="list-group">
						<table class="table table-striped">{{porcentaje_precio1form.as_table}}</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="list-inline">
	        <div class="col-lg-4">
	            <div class="card">
					<div class = "header">
						<h4 class="title"> <strong>Segunda </strong> </h4>
					</div>
					<div class="content">
						<div class="list-group">
						<table class="table table-striped">{{porcentaje_precio2form.as_table}}</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="list-inline">
	        <div class="col-lg-4">
	            <div class="card">
					<div class = "header">
						<h4 class="title"> <strong>Tercera </strong> </h4>
					</div>
					<div class="content">
						<div class="list-group">
						<table class="table table-striped">{{porcentaje_precio3form.as_table}}</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div style="clear: left;">
		<div class="list-inline">
	        <div class="">
	            <div class="card">
				    <div class = "header">
				    	<h4 class="title"> <strong>Producción por año </strong> </h4>
			    	</div>
					<div class="content">
						<div class="list-group">
							<table class="table table-striped">
							{{produccionform.as_table}}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div style="" class="">
		<br>
		<h3><strong>Mano de obra</strong></h3>
		{% for key, value in manoobra.items %}
		    <h3>{{key}}</h3>
		    <br>
		    	{% for v in value %}
			    <div class="list-inline">
			        <div class="col-lg-4">
			            <div class="card">
						    <div class = "header">
						    	<h4 class="title"> <strong>Año {{forloop.counter}} </strong> </h4>
					    	</div>
							<div class="content">
								<div class="list-group">
									<table class="table table-striped">{{v.as_table}}</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
		{% endfor %}
	</div>

	<div style="" class="">
		<h3><strong>Costos de insumos</strong></h3>
		{% for key, value in data_costos.items %}
		    <h3>Costos de {{key}}</h3>
		    <br>
		    	{% for v in value %}
			    <div class="list-inline">
			        <div class="col-lg-4">
			            <div class="card">
						    <div class = "header">
						    	<h4 class="title"> <strong>Año {{forloop.counter}} </strong> </h4>
					    	</div>
							<div class="content">
								<div class="list-group">
									<table class="table table-striped">{{v.as_table}}</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
		{% endfor %}
	</div>
	</div>
<button type="submit" class="btn-success btn-fill btn b-t-1">Guardar</button>
<br>
</form>
{% endblock %}


{% block table %}

{% endblock %}

{% block script %}
{% endblock %}

{% block footer %}{% endblock %}