{% extends "base.html" %}

{% block header %}{{titulo}}{{block.super}}{% endblock %}

{% block wrapper %}
<form method="post" accept-charset="utf-8">
	{% csrf_token %}

<div style="">
	    <div>
	        <div class="">
	            <div class="panel panel-green">
	            	<div class = "panel-heading">
				    	<h4 class="panel-tittle">Tipo de base presupuestal</h4>
			    	</div>
					<div class="panel-body">
						<div class="list-group">
							{{base_presupuestal.as_p}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div style="">
	    <div>
	        <div class="col-lg-4">
	            <div class="panel panel-green">
	            	<div class = "panel-heading">
				    	<h4 class="panel-tittle">Insumos generales</h4>
			    	</div>
					<div class="panel-body">
						<div class="list-group">
							{{Insumos_generalesform.as_p}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div style="">
	    <div>
	        <div class="col-lg-4">
	            <div class="panel panel-green">
	            	<div class = "panel-heading">
				    	<h4 class="panel-tittle">Establecimiento</h4>
			    	</div>
					<div class="panel-body">
						<div class="list-group">
						{{establecimientoform.as_p}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div style="">
	    <div>
	        <div class="col-lg-4">
	            <div class="panel panel-green">
	            	<div class = "panel-heading">
				    	<h4 class="panel-tittle">Costes de preparación</h4>
			    	</div>
					<div class="panel-body">
						<div class="list-group">
						{{preparacionform.as_p}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
	    <div style="clear:left;">
	        <div class="">
	            <div class="panel panel-green">
	            	<div class = "panel-heading">
				    	<h4 class="panel-tittle">Datos generales</h4>
			    	</div>
					<div class="panel-body">
						<div class="list-group">
							{{datos_generalesform.as_p}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    
    <div style="">
    <h3>Costos indirectos de producción y comercialización</h3>
    <br>
    	{% for value in cipc %}
	    <div class="list-inline">
	        <div class="col-lg-4">
	            <div class="panel panel-green">
				    <div class = "panel-heading">
				    	<h4 class="panel-tittle">Año {{forloop.counter}}</h4>
			    	</div>
					<div class="panel-body">
						<div class="list-group">
						{{value.as_p}}	
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	
	<div style="clear: left;">
		<h3>Distribución de calidad</h3>
		<br>
		<br>
		 <div class="list-inline">
	        <div class="col-lg-4">
	            <div class="panel panel-green">
				    <div class = "panel-heading">
				    	<h4 class="panel-tittle">Primera</h4>
			    	</div>
					<div class="panel-body">
						<div class="list-group">
						{{porcentaje_precio1form.as_p}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="list-inline">
	        <div class="col-lg-4">
	            <div class="panel panel-green">
					<div class = "panel-heading">
						<h4 class="panel-tittle">Segunda</h4>
					</div>
					<div class="panel-body">
						<div class="list-group">
						{{porcentaje_precio2form.as_p}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="list-inline">
	        <div class="col-lg-4">
	            <div class="panel panel-green">
					<div class = "panel-heading">
						<h4 class="panel-tittle">Tercera</h4>
					</div>
					<div class="panel-body">
						<div class="list-group">
						{{porcentaje_precio3form.as_p}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div style="clear: left;">
		<div class="list-inline">
	        <div class="">
	            <div class="panel panel-green">
				    <div class = "panel-heading">
				    	<h4 class="panel-tittle">Producción por año</h4>
			    	</div>
					<div class="panel-body">
						<div class="list-group">
						{{produccionform.as_table}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div style="">
		<h3>Mano de obra</h3>
		<br>
		{% for key, value in manoobra.items %}
		    <h3>{{key}}</h3>
		    <br>
		    	{% for v in value %}
			    <div class="list-inline">
			        <div class="col-lg-4">
			            <div class="panel panel-green">
						    <div class = "panel-heading">
						    	<h4 class="panel-tittle">Año {{forloop.counter}}</h4>
					    	</div>
							<div class="panel-body">
								<div class="list-group">
								{{v.as_p}}	
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
		{% endfor %}
	</div>

	<div style="">
		<h3>Costos de insumos</h3>
		{% for key, value in data_costos.items %}
		    <h3>Costos de {{key}}</h3>
		    <br>
		    	{% for v in value %}
			    <div class="list-inline">
			        <div class="col-lg-4">
			            <div class="panel panel-green">
						    <div class = "panel-heading">
						    	<h4 class="panel-tittle">Año {{forloop.counter}}</h4>
					    	</div>
							<div class="panel-body">
								<div class="list-group">
								{{v.as_p}}	
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
		{% endfor %}
	</div>
	</div>
<button type="submit" name = "costoinsumos" class="btn-success btn b-t-1">Crear</button>
</form>
{% endblock %}


{% block table %}

{% endblock %}

{% block script %}
{% endblock %}

{% block footer %}{% endblock %}