<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock title %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

</head>

<body>
    <div class="container" style="justify-content: center; align-items: center; height: 100%; display: flex;">
            <div class="row col-md-7">
                <div class="panel-heading">
                    {% block message %}
                        
                    {% endblock message %}
                   <div class="panel-title text-center">
                        <h1 class="title" style="color:white;">
                        {% block titulo %}
                            
                        {% endblock titulo %}</h1>
                        <hr />
                    </div>
                </div> 
                {% block form %}
                    
                {% endblock form %}
            </div>
        </div>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block script %}
    {% endblock %}
</body>
<footer>
    {% block footer %}{% endblock %}
</footer>
</html>
