{% extends "base.html" %}

{% block title %}
    Crear Administrador
{% endblock title %}

{% block header %}{{titulo}}{% endblock %}


{% block wrapper %}
		<div class="card">
			<div class="content">
				<form action="" method="POST" accept-charset="utf-8">
					{% csrf_token %}
					<table class="table">{{ form.as_table}}</table>
				   	
				   	<button class="btn btn-fill btn-primary" type="submit">Guardar</button>
				</form>
	    	</div>
    	</div>
{% endblock %}


{% block footer %}{% endblock %}