{% extends "base.html" %}

{% block header %}{{titulo}}{{block.super}}{% endblock %}

{% block wrapper %}
  <form method="post" accept-charset="utf-8">
    {% csrf_token %}
    {{loteform.as_p}}
    <h3>Riesgos</h3>
    <div class = "riesgodiv">
    	{{riesgoform.as_p}}
    </div>
    <button type="submit" class="btn-success btn b-t-1" style="margin-top: 2em;">Crear</button>
  </form>
{% endblock %}


{% block table %}

{% endblock %}

{% block script %}
{% endblock %}

{% block footer %}{% endblock %}