{% extends "base.html" %}

{% block wrapper %}
	<div id="divmessage">
	</div><!-- Espacio para insertar mensajes por javascript -->
		<div id="divUsers">
		{% for value in users %}
		{% if value.role != 'R' %}
			<div class=" list-inline">
		            <div class="col-lg-4">
		                <div class="panel panel-green">
		                    <div class="panel-heading">
		                        <h3 class="panel-title"><i class="fa fa-user" aria-hidden="true"></i>
		                        {{value.first_name}} {{value.last_name}}</h3>
		                    </div>
								<div class="panel-body">
								    <div class="list-group">
								    	<a href="#" class="list-group-item">
								            <span class="badge">{{value.gender}}</span>
								            <i class="fa glyphicon-fast-forward fa-circle-o"></i> Género
								        </a>
								        <a href="#" class="list-group-item">
								            <span class="badge">{{value.document_number}}</span>
								            <i class="fa fa-id-badge"></i> Número de documento
								        </a>
								        <a href="#" class="list-group-item">
								            <span class="badge">{{value.phone}}</span>
								            <i class="fa fa-phone"></i> Teléfono
								        </a>
								        <a href="#" class="list-group-item">
								            <span class="badge">{{value.role}}</span>
								            <i class="fa fa-newspaper-o"></i> Rol
								        </a>
								        <a href="#" class="list-group-item">
								            <span class="badge">{{value.email}}</span>
								            <i class="fa fa-envelope"></i> Correo
								        </a>
								    </div>
								    <div class="text-right">
								        <a href="javascript:void(0)" id="deleteuser" data-user="{{value.id}}"> 
								        	Eliminar <i class="fa fa-trash"></i></a>
								    </div>
								</div>
			                </div>
		            </div> <!-- Horas -->
		    </div>
		{% endif %}
    	{% endfor %}
    	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript">

	$( document ).ready(function() {
		$('a[id="deleteuser"]').click(function() {
			var $this = $(this);
			var user = $this.data('user');
			console.log(user);

			$.ajax({
		        url: "{% url 'deleteUser' %}",
		        method: 'POST',
		        data: {
		            'user': user,
		            'csrfmiddlewaretoken': '{{ csrf_token }}'
		        },
		        success: function (data){
		        	$("#divUsers").load(location.href + " #divUsers");
		        	bootstrap_alert.success(data['message']);
		        },
		        error : function() {
		            bootstrap_alert.warning("Ha ocurrido un error al intentar eliminar el usuario");
		        }
			});
		});
	});

	bootstrap_alert = function() {}
	bootstrap_alert.success = function(message) {
	    $('#divmessage').html("<div class='alert alert-success alert-dismissable'><a href='#' class='close' data-dismiss='alert' aria-label='close'>×</a> <strong>Success!</strong> "+message+"</div>")
	}
	bootstrap_alert.warning = function(message) {
    $('#divmessage').html("<div class='alert alert-warning alert-dismissable'><a href='#' class='close' data-dismiss='alert' aria-label='close'>×</a> <strong>Warning!</strong> "+message+"</div>")
	}
	</script>
{% endblock %}