{% extends "base.html" %}

{% block header %}{{titulo}}{% endblock %}

{% block wrapper %}
{% load staticfiles %}
	<div id="campoChart" align="center" style='visibility:hidden; display:none;' >
		<div id="panelChart" class="panel">
			<canvas id="myChart"></canvas>	
		</div>
	</div>
	<div align="center" id="loading" style="display:none;" >
			<img src="{% static 'images/Cargando.gif' %}" style="height: 10em; width: 10em;margin-bottom: 2em;" alt="">
	</div>

	<div class="list-inline" id="tableRiesgo" style='visibility:hidden; display:none;'>
        <div class="card">
            <div class="header">
                <h4 class="title"><i class="fa fa-exclamation-triangle fa-fw"></i> Riesgos</h4>
            </div>
            <div class="content">
                <table class="table table-responsive table-hover table-bordered" id="riesgos">
                    <thead>
                        <tr>
                            <th>Mercado</th>
                            <th>Fitosanitario</th>
                            <th>Fluctuacion de precio</th>
                            <th>Administracion</th>
                            <th>Tecnologia</th>
                            <th>Mano de obra</th>
                            <th>Clima</th>
                            <th>Perecedero</th>
                            <th>Agremiacion</th>
                            <th>Inseguridad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> 

	<div id="divmessage">
	</div><!-- Espacio para insertar mensajes por javascript -->

	{% if fincas %}
	<div id="divFincas">
	    {% for obj in fincas %}
			<div class=" list-inline">
		            <div class="col-lg-4">
		                <div class="card-piece">
		                    <div class="header">
		                        <h4 class="title"><i class="fa fa-photo fa-fw"></i> {{obj.name}}</h4>
		                    </div>
							<div class="content">
							    <div class="list-group">
							        <a href="#" class="list-group-item">
							            <span class="badge">{{obj.id}}</span>
							            <i class="fa fa-fw fa-info"></i> ID
							        </a>
							        <a href="#" class="list-group-item">
							            <span class="badge">{{obj.area}}</span>
							            <i class="fa fa-fw fa-square"></i> Area
							        </a>
							    </div>
							    <div class="text-right">
							    	<a href="#" id="buttonfinca" data-finca="{{obj.id}}">Ver finca <i class="fa fa-bar-chart"></i></a> 	
							    	&nbsp;
							        <a href="lotes/{{obj.id}}">Ver lotes <i class="fa fa-puzzle-piece"></i></a>
							        &nbsp;
							        <a href="{% url 'updateFinca' obj.id %}" style="color:rgb(153,153,0);" title="Modificar finca" id="updatefinca" data-finca="{{obj.id}}"><i class="fa fa-pencil"></i></a> 	
							    	&nbsp;
							    	<a href="#" style="color:darkred;" id="deletefinca" 
							    	data-toggle="confirmation"
							    	title="¿Estas seguro de eliminar esta finca?" 
							    	data-btn-ok-label="Si"
							        data-btn-ok-class="btn-success btn-fill"
							        data-btn-cancel-label="No"
							        data-btn-cancel-class="btn-danger btn-fill"
							    	data-finca="{{obj.id}}"><i class="fa fa-trash"></i></a> 
							    </div>
							</div>
			            </div>
		            </div> <!-- Horas -->
		    </div>
    	{% endfor %}
    </div>
	{% endif %}

	{% if lote_list %}
	<div id="divLotes">
	    {% for value in lotes %}
			<div id="divLote{{value.id}}" class=" list-inline">
		            <div class="col-lg-4">
		                <div class="card-piece">
		                    <div class="header">
		                        <h4 class="title"><i class="fa fa-photo fa-fw"></i>{{value.name}}</h4>
		                    </div>
								<div class="content">
								    <div class="list-group">
								    	<a href="#" class="list-group-item">
								            <span class="badge">{{value.tipo}}</span>
								            <i class="fa fa-fw fa-circle-o"></i> Tipo
								        </a>
								        <a href="#" class="list-group-item">
								            <span class="badge">{{value.cultivo}}</span>
								            <i class="fa fa-fw fa-circle-o"></i> Cultivo
								        </a>
								        <a href="#" class="list-group-item">
								            <span class="badge">{{value.variedad}}</span>
								            <i class="fa fa-fw fa-circle-o"></i> Variedad
								        </a>
								        <a href="#" class="list-group-item">
								            <span class="badge">{{value.edad}}</span>
								            <i class="fa fa-fw fa-calendar"></i> Edad
								        </a>
								        <a href="#" class="list-group-item">
								            <span class="badge">{{value.area}}</span>
								            <i class="fa fa-fw fa-area-chart"></i> Area
								        </a>
								    </div>
								    <div class="text-right">
								        <a href="#" id="buttonId" data-lote="{{value.id}}"> 
								        	Ver lote <i class="fa fa-puzzle-piece"></i></a>
								        &nbsp;
								        <a href="{% url 'updateLote' value.id %}" style="color:rgb(153,153,0);" title="Modificar lote" id="updatelote" data-lote="{{value.id}}"><i class="fa fa-pencil"></i></a> 	
								    	&nbsp;
								    	<a href="#" style="color:darkred;" id="deletelote"
								    	data-toggle="confirmation"
								    	title="¿Estas seguro que quieres eliminar este lote?" 
								    	data-btn-ok-label="Si"
								        data-btn-ok-class="btn-success btn-fill"
								        data-btn-cancel-label="No"
								        data-btn-cancel-class="btn-danger btn-fill"
								    	data-lote="{{value.id}}"><i class="fa fa-trash"></i></a> 
								    </div>
								</div>
			                </div>
		            </div> <!-- Horas -->
		    </div>
    	{% endfor %}
    </div>
	{% endif %}
{% endblock %}


{% block table %}
{% endblock %}

{% block script %}
		{% load staticfiles %}
		<script src="{% static 'js/Chart.min.js' %}"></script>
		<script src="{% static 'js/Chart.js' %}"></script>
    	<script type="text/javascript" charset="utf-8">
	    	
	    	$( document ).ready(function() {
	    		{% if fincas %}
			    	calcularMargen();
	    		{% endif %}

	    		{% if message %}
	    			bootstrap_alert.success("{{message}}")
	    		{% endif %}

	    		{% if warning %}
	    			bootstrap_alert.warning("{{warning}}")
	    		{% endif %}

	    		$('[data-toggle=confirmation]').confirmation({
				  rootSelector: '[data-toggle=confirmation]',
				});

	    		$(document).on("click",'a[id="deletelote"]', function() {
	    			var $this = $(this);
        			var lote = $this.data('lote');

        			$.ajax({
				        url: "{% url 'deleteLote' %}",
				        method: 'POST',
				        data: {
				            'lote': lote,
				            'csrfmiddlewaretoken': '{{ csrf_token }}'
				        },
				        success: function (data){
				        	bootstrap_alert.success(data['message']);
				        	$("#divLotes").load(location.href+ ' #divLotes');
				        },
				        error : function() {
				            bootstrap_alert.warning("Ha ocurrido un error al intentar borrar el lote");
				        }
	    			});
        		});

	    		$(document).on("click",'a[id="deletefinca"]' ,function() {
	    			var $this = $(this);
        			var finca = $this.data('finca');

        			$.ajax({
				        url: "{% url 'deleteFinca' %}",
				        method: 'POST',
				        data: {
				            'finca': finca,
				            'csrfmiddlewaretoken': '{{ csrf_token }}'
				        },
				        success: function (data){
				        	//$('#divFincas').load(location.href+ ' #divFincas');
				        	location.reload();
				        	bootstrap_alert.success(data['message']);
				        },
				        error : function() {
				            bootstrap_alert.warning("Ha ocurrido un error al intentar borrar la finca");
				        }
	    			});
        		});

        		$(document).on("click",'a[id="buttonfinca"]',function() {
        			$('#myChart').remove(); // this is my <canvas> element
  					$('#panelChart').append('<canvas id="myChart"><canvas>');   
	    			var $this = $(this);
        			var finca = $this.data('finca');

        			document.getElementById("loading").style.display ='block';

        			var campo = document.getElementById("campoChart");
								campo.style.visibility='hidden';
								campo.style.display ='none';
        			
				    ajaxfinca = $.ajax({
				        url: "{% url 'fincaChart' %}",
				        method: 'POST',
				        data: {
				            'finca': finca,
				            'csrfmiddlewaretoken': '{{ csrf_token }}'
				        },
				        success: function (data){

				        	if(data["ok"]){
					            var ctxLote = document.getElementById("myChart");
								var chartLote = new Chart(ctxLote, {
								type: 'line',
								data: {
									labels: data["years"],
									datasets: [
										{
											label: 'Margen',
											data: data["margen"],
											backgroundColor: ['rgba(169, 169, 169, 1)']
										},
										{
											label: 'Ingresos',
											data: data["ingresos"],
											backgroundColor: ['rgba(0, 255, 0, 0.3)']
										},
										{
											label: 'Egresos',
											data: data["egresos"],
											backgroundColor: ['rgba(255, 0, 0, 0.3)']
										}
									]
									},
								options: {
										scales: {
											yAxes: [{
												ticks: {
													beginAtZero:true
												}
											}]
										}
									}
								});

								var campo = document.getElementById("campoChart");
								campo.style.visibility='visible';
								campo.style.display ='initial';
							}
							else{
								var campo = document.getElementById("campoChart");
								campo.style.visibility='hidden';
								campo.style.display ='none';
							}
							document.getElementById("loading").style.display ='none';
				        },

				        error : function() {
				            bootstrap_alert.warning("Error mostrando la gráfica finca.");
				        }
				    });
				});

	    		$(document).on("click",'a[id="buttonId"]',function() {
	    			$('#myChart').remove(); // this is my <canvas> element
  					$('#panelChart').append('<canvas id="myChart"><canvas>');

	    			var $this = $(this);
        			var lote = $this.data('lote');

        			document.getElementById("loading").style.display ='block';

        			var tr = document.getElementById("tableRiesgo");
					tr.style.visibility='hidden';
					tr.style.display ='none';

        			var campo = document.getElementById("campoChart");
					campo.style.visibility='hidden';
					campo.style.display ='none';

				    $.ajax({
				        url: "{% url 'loteChart' %}",
				        method: 'POST',
				        data: {
				            'lote': lote,
				            'csrfmiddlewaretoken': '{{ csrf_token }}'
				        },
				        success: function (data){

				        	if(data["ok"]){
					            var ctxLote = document.getElementById("myChart");
								var chartLote = new Chart(ctxLote, {
								type: 'line',
								data: {
									labels: data["years"],
									datasets: [
										{
											label: 'Margen',
											data: data["margen"],
											backgroundColor: ['rgba(169, 169, 169, 0.6)']
										},
										{
											label: 'Ingresos',
											data: data["ingresos"],
											backgroundColor: ['rgba(132, 255, 99, 0.5)']
										},
										{
											label: 'Egresos',
											data: data["egresos"],
											backgroundColor: ['rgba(255, 99, 132, 0.5)']
										}
									]
									},
								options: {
										scales: {
											yAxes: [{
												ticks: {
													beginAtZero:true
												}
											}]
										}
									}
								});

								var campo = document.getElementById("campoChart");
								campo.style.visibility='visible';
								campo.style.display ='initial';
							}
							
							if(!data["ok"]){
								var campo = document.getElementById("campoChart");
								campo.style.visibility='hidden';
								campo.style.display ='none';
							}
							// print riesgos

							var myTable = document.getElementById('riesgos');
							var sum = 0;
						    for (var t = 0; t < 10; t += 1) {
								myTable.rows[1].cells[t].innerHTML = data["riesgo"][t];
								sum = sum + parseInt(data['riesgo'],10);
							}
							myTable.rows[2].cells[0].innerHTML = "Riesgo total";
							myTable.rows[2].cells[1].innerHTML = sum;

							tr.style.visibility='visible';
							tr.style.display ='initial';

							document.getElementById("loading").style.display ='none';
				        },

				        error : function() {
				            bootstrap_alert.warning("Error mostrando la gráfica lote.");
				        }
				    });
				});

			});// end ready

			bootstrap_alert = function() {}
			bootstrap_alert.success = function(message) {
			    $('#divmessage').html("<div class='alert alert-success alert-dismissable'><a href='#' class='close' data-dismiss='alert' aria-label='close'>×</a> <strong>Exito!</strong> "+message+"</div>")
			}
  			bootstrap_alert.warning = function(message) {
			    $('#divmessage').html("<div class='alert alert-warning alert-dismissable'><a href='#' class='close' data-dismiss='alert' aria-label='close'>×</a> <strong>Advertencia!</strong> "+message+"</div>")
			}

	    	function calcularMargen(){
	    		document.getElementById("loading").style.display ='block';

			    $.ajax({
			        url: "{% url 'home_agricultor' %}",
			        method: 'POST',
			        data: {
			            'Margen': "Margen total",
			            'csrfmiddlewaretoken': '{{ csrf_token }}'
			        },
			        success: function (data){
			            var ctxLote = document.getElementById("myChart");
						var chartLote = new Chart(ctxLote, {
						type: 'line',
						data: {
							labels: data["years"],
							datasets: [
								{
									label: 'Margen total de todas las fincas',
									data: data["margen"],
									backgroundColor: ['rgba(125, 125, 125, 0.3)']
								}
							]
							},
						options: {
								scales: {
									yAxes: [{
										ticks: {
											beginAtZero:true
										}
									}]
								},
							}
						});
						var campo = document.getElementById("campoChart");
						campo.style.visibility='visible';
						campo.style.display ='initial';
						document.getElementById("loading").style.display ='none';
			        },

			        error : function() {
			            //alert("error");
			        }
			    });
	    	}
		</script>
{% endblock %}

{% block footer %}{% endblock %}