{% extends "base_create.html" %}

{% block title %}
  Login
{% endblock title %}

{% block titulo %}Agroplanificador{% endblock titulo %}

{% block message %}

  {% if error %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
    </button>
    <div class="font-weight-bold">Error:</div> {{ error }}
  </div>
  {% endif %}

  {% if success %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
    </button>
    <div class="font-weight-bold">Error:</div> {{ success }}
  </div>
  {% endif %}
  
{% endblock message %}

{% block form %}
    <div class="main-login main-center">
      <form class="form-horizontal" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="inputUsername" class="sr-only">Nombre de usuario</label>
            <input name="email" type="text" id="inputUsername" class="form-control" placeholder="Nombre de usuario" required autofocus>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="sr-only">Contraseña</label>
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Contrase&ntilde;a" required>
          </div>
          <button class="btn btn-fill btn-success btn-block" type="submit">Iniciar sesion</button>
      </form>
      <br>
      <a href="{% url 'register' %}" style="color:pink; font-size: 1.2em;"> Registrarse <i class="fa fa-arrow-circle-right "></i></a>
    </div>
  
{% endblock form %}

{% block footer %}
  
{% endblock footer %}