{% extends "base.html" %}

{% block header %}{{titulo}}{{block.super}}{% endblock %}

{% block wrapper %}
	<div id="divmessage"><!-- Espacio para insertar mensajes por javascript -->
	</div>

	{% if lote %}
		<form method="POST" accept-charset="utf-8">
			{% csrf_token %}
			<div class="col-sm-6">
	    	<h3>Lote</h3>
			    <table class="table table-striped .table-hover">
			    	{{lote.as_table}}
				    <tr> 
				    	<th>Escala de evaluación:</th>
				    	<td>Valore el riesgo en cada uno de los siguientes items de 1 a 10, siendo 1 el menos riesgo y 10 mayor riesgo.</td>
				    </tr>
				    <tr> 
				    	<th>Información:</th>
				    	<td>Al poner el puntero sobre cada campo puede obtener más información sobre la entrada.</td>
				    </tr>
				    <tr>
		    			<th>Valoración:</th>
		    			<td>Riesgo total se valora de 1 a 10, donde 1 es una inversión segura, 100 es una inversión imposible.</td>
		    		</tr>
			    </table>
	   		</div>

		    <div class="col-sm-6">
			    <table class="table table-striped .table-hover">
					<h3>Riesgos</h3>
				   	{{riesgo.as_table}}
				   	<tr>
		    			<th><label class="">Riesgo total:</label></th>
		    			<td><input disable style="border:0px;" class="form-control" type="text" id="sum"></td>
		    		</tr>
			    </table>
			</div>
			<button type="submit" style="clear: left;" class="btn btn-primary">Modificar</button>
		</form>
	{% endif %}
{% endblock %}


{% block script %}
    	<script type="text/javascript">
    		$(document).ready(function(){
		{% if messageSuccess %}
	    	bootstrap_alert.success({{messageSuccess}})
		{% endif %}
		{% if messageWarning %}
			bootstrap_alert.warning({{messageWarning}})
		{% endif %}

		window.setInterval(function(){
		   calcRiesgo();
		}, 1000);

	});

	function calcRiesgo() {
		if (
			document.getElementById('id_mercado').value != "" &&
			document.getElementById('id_fitosanitario').value != "" &&
			document.getElementById('id_fluctuacion_precio').value != "" &&
			document.getElementById('id_administracion').value != "" &&
			document.getElementById('id_tecnologia').value != "" &&
			document.getElementById('id_mano_de_obra').value != "" &&
			document.getElementById('id_clima').value != "" &&
			document.getElementById('id_perecedero').value != "" &&
			document.getElementById('id_agremiacion').value != "" &&
			document.getElementById('id_inseguridad').value != ""
			) {
    			var mercado = document.getElementById('id_mercado').value;
				var fitosanitario = document.getElementById('id_fitosanitario').value;
				var fluctuacion_precio = document.getElementById('id_fluctuacion_precio').value;
				var administracion = document.getElementById('id_administracion').value;
				var tecnologia = document.getElementById('id_tecnologia').value;
				var mano_de_obra = document.getElementById('id_mano_de_obra').value;
				var clima = document.getElementById('id_clima').value;
				var perecedero = document.getElementById('id_perecedero').value;
				var agremiacion = document.getElementById('id_agremiacion').value;
				var inseguridad = document.getElementById('id_inseguridad').value;

				var sum = 
				parseInt(mercado,10) + 
				parseInt(fitosanitario,10) + 
				parseInt(fluctuacion_precio,10) + 
				parseInt(administracion,10) + 
				parseInt(tecnologia,10) + 
				parseInt(mano_de_obra,10) + 
				parseInt(clima,10) + 
				parseInt(perecedero,10) + 
				parseInt(agremiacion,10) + 
				parseInt(inseguridad,10);

				document.getElementById('sum').value = sum;
				console.log(sum);
				setTimeout(calcRiesgo, 5000);
    		}
		}
    		
    	</script>
{% endblock %}

{% block footer %}{% endblock %}