{% load staticfiles %}
<div class="sidebar" data-color="green" data-image="{% static 'images/plant-fruit.jpg' %}">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="{% url 'home_agricultor' %}" class="simple-text">
                    {% if request.user.role == "S" %}
                        Agricultor
                    {% endif %}
                    {% if request.user.role == "A" %}
                        Administrador
                    {% endif %}
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="{% url 'home_agricultor' %}">
                        <i class="pe-7s-photo"></i>
                        <p>Fincas</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'createFinca' %}">
                        <i class="pe-7s-map-2"></i>
                        <p>Crear finca</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'createLote' %}">
                        <i class="pe-7s-map"></i>
                        <p>Crear lote</p>
                    </a>
                </li>
            </ul>
        </div>
</div>

